#folders

.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Content/StartContent/
Build/
Linux/


# 忽略 Content 目录下的所有文件和文件夹
Content/*

# 但允许 Content/ 目录本身（需要手动添加 `.gitkeep`）
!Content/

# 允许上传特定的文件
!Content/Untitled.umap
!Content/Untitled_HLOD0_Instancing.uasset

# 允许上传特定文件夹
!Content/Curve/
!Content/HttpServer/
!Content/Material/




#files
*.rar
*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.exe

