#folders

.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Content/StartContent/
ThirdParty/
Build/
Linux/

# 忽略整个 Content 文件夹
Content/

# 但保留 Content 文件夹内的某些文件
!Content/Untitled.umap
!Content/Untitled_HLOD0_Instancing.uasset

# 但保留 Content 内的 Curve、HttpServer、Material 文件夹
!Content/Curve/
!Content/HttpServer/
!Content/Material/



#files
*.rar
*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.exe

